.profilePhoto {
  width:60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 35px;
  -moz-border-radius: 30px;

}

.profileInfo{
  width: 30%;
  background-color: white
  color: black;
}
