.profilePhoto {
  width:60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 35px;
  -moz-border-radius: 30px;

}

.userInfo{
  position: absolute;
  bottom: 10px;
  padding-top: 10px;
  padding-left: 35px;
  height: 80px;
  width: 30%;
  background-color: white

}

.profileInfo{
    position:relative;
    padding-top : 10px;
    padding-left : 20px;
    left: 15px;
    color: black;
}