<md-content>
  <section ng-repeat="data in tl.transactions">
    <md-subheader class="md-primary" ng-click = "tl.toggleDisplay(data.name)">{{ data.name }}</md-subheader>
    <md-list layout-padding ng-show = "tl.showTransactions">
      <div ng-repeat="t in data.transactions">
        <md-divider />
        <transactionunit creator-pic="t.creatorPic" creator="t.creator" name="t.name" date="t.date" event-name="t.eventName" operations="t.operations" amount="t.amount" />
      </div>
    </md-list>
  </section>
</md-content>
