<md-content>
  <md-list class=link-list>
    <md-item>
      <md-item-content>
        <md-button ng-click="navbar.navigateTo('home',$event)">
          <md-icon md-font-set="material-icons">home</md-icon>
          <span class=link-label>Accueil</span>
        </md-button>
      <md-item-content>
    </md-item>
    <md-item>
      <md-item-content>
        <md-button ng-click="navbar.toggleDisplay($event)">
          <md-icon md-font-set="material-icons">star_rate</md-icon>
          <span class=link-label>Binets</span>
        </md-button>
      <md-item-content>
    </md-item>
      <md-list flex offset="10" ng-show="navbar.showBinets">
        <md-item  ng-repeat="binet in navbar.binets">
          <md-item-content>
            <md-button ng-click="navbar.navigateTo(binet.shortname,$event)">
              <img class="link-logo"width="24px" ng-src="{{binet.logo}}" class="md-avatar" alt="{{binet.shortname}}" /></div>
              <span class="link-label"> {{binet.longname}} </span>
              <span class="balance" flex="15">{{binet.balance}}</span>
            </md-button>
          <md-item-content>
        </md-item>
      </md-list>
      <md-item>
        <md-item-content>
          <md-button ng-click="navbar.navigateTo('settings',$event)">
            <md-icon md-font-set="material-icons">settings</md-icon>
            <span class=link-label>Préférences</span>
          </md-button>
        <md-item-content>
      </md-item>
      <md-item-content>
        <md-button ng-click="navbar.navigateTo('lgout',$event)">
          <md-icon md-font-set="material-icons">power_settings_new</md-icon>
          <span class=link-label>Déconnexion</span>
        </md-button>
      <md-item-content>
    </md-item>
  </md-list>
</md-content>
