.md-verytall {
    height: 30vh;
}

#profilePhoto {
  max-width:60px;
  height: auto;
  border-radius: 30px;
  //-webkit-border-radius: 35px;
  //-moz-border-radius: 30px;
}

#userInfo{
  position: absolute;
  bottom: 10px;
  left: 10px;
}
