<md-list-item class="md-3-line">
    <img ng-src="User photo" class="md-avatar" alt="User name" />
    <div class="md-list-item-text">
        <h3>Name</h3>
        <h4>Date</h4>
        <p>Créé par User</p>
    </div>
</md-list-item>
<!--<md-list-item class="md-3-line">
    <img ng-src="Event.Binet photo" class="md-avatar" alt="Event.Binet name" />
    <div class="md-list-item-text">
        <h3>Name</h3>
        <h4>Date</h4>
        <p>Créé par Event.Binet pour Event.Name</p>
    </div>
    </md-list-item>-->
