<md-list-item class="md-3-line" ng-click="clickMe($event)">
    <img ng-src="User photo" class="md-avatar" alt="User name" />
    <div flex>
        <div class="md-list-item-text">
            <h3>Name</h3>
            <h4>Date</h4>
            <p>Créé par User</p>
        </div>
    </div>
    <div class="show-hide" flex="15">
      A crédité de 5€<br />
      B débité de 5€
    </div>
    <div flex="10">
        <md-button class="md-raised md-primary">Montant gagné</md-button>
    </div>
</md-list-item>
<md-divider></md-divider>
<md-list-item class="md-3-line" ng-click="clickMe($event)">
    <img ng-src="Event.Binet photo" class="md-avatar" alt="Event.Binet name" />
    <div flex>
        <div class="md-list-item-text">
            <h3>Name</h3>
            <h4>Date</h4>
            <p>Créé par Event.Binet pour Event.Name</p>
        </div>
    </div>
    <div class="show-hide" flex="15">
      A crédité de 5€<br />
      B débité de 5€
    </div>
    <div flex="10">
        <md-button class="md-raised md-primary">Montant gagné</md-button>
    </div>
</md-list-item>
